__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
.env.local
.env.*
.DS_Store
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.cache/
.eggs/
*.egg-info/
dist/
build/
site/
*.log
.poetry*
*.coverage
.coverage*
.hypothesis/
data/*.csv
data/models/
